guessImports = false
modules = ["nodejs-20", "web", "python-3.12", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8099
externalPort = 8099

[[ports]]
localPort = 8100
externalPort = 3003

[[ports]]
localPort = 20823
externalPort = 3001

[[ports]]
localPort = 20824
externalPort = 3002

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PORT = "8080"
EXPO_PUBLIC_DOMAIN = "ae99a48c-f8d0-4c85-8bd0-335e890392c9-00-1pujxvnji6tvy.pike.replit.dev"
NODE_ENV = "development"
JWT_SECRET = "f4cd3bf4bc8e10c3824d0d0303130723489ea471467c292c15928b086c95e91862e6c775a5fdf41f99d47e217ed19605"
